.material-icons {
    vertical-align: -6px;
}
div.carousel {
    width: 100%;
    background-color: #ffffff;
} 
div.carousel>.header {
    width: 100%;
    margin: 0 0 20px;
    display: flex;
    align-items: center;
}
div.carousel>.header .title {
    color: #000;
    font-size: 22px;
    font-weight: 500;
    margin: 0;
}

div.carousel>.cards-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}
div.carousel>.cards-container>.previous {
    position: absolute;
    left: 0;
    width: 40px;
    color: #fff;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    text-decoration: none;
}
div.carousel>.cards-container>.previous.hidden {
    opacity: 0;
    transform: translateX(-40px);
}
div.carousel>.cards-container>.next {
    position: absolute;
    right: 0;
    width: 40px;
    color: #fff;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    text-decoration: none;
}
div.carousel>.cards-container>.next.hidden {
    opacity: 0;
    transform: translateX(40px);
}
div.carousel>.cards-container>.cards-scroll {
    position: absolute;
    top: 8px;
    left: 0;
    display: flex;
    transition-timing-function: ease-out;
    transition-duration: .4s;
}
div.carousel>.cards-container>.cards-scroll .collection {
    text-align: center;
}
div.carousel>.cards-container>.cards-scroll .collection .sublayer {
    height: 3px;
    margin: 1px auto;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}
div.carousel>.cards-container>.cards-scroll .collection .sublayer.level1 {
    width: 98%}
div.carousel>.cards-container>.cards-scroll .collection .sublayer.level2 {
    width: 94%}
div.carousel>.cards-container>.cards-scroll .card {
    flex-shrink: 0;
    display: inline-block;

    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    overflow: hidden;
}
div.carousel>.cards-container>.cards-scroll .card>.img {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #eeeeee;
    background-size: cover;
}
div.carousel>.cards-container>.cards-scroll .card>.img.placeholder {
    background: linear-gradient(90deg, #ddd 8%, #eee 25%, #ddd 50%);
    animation: backgroundPulse forwards 7s linear infinite;
}

div.carousel>.cards-container>.cards-scroll .card>.caption>.placeholder {
    display: inline-block;
    background-color: #000;
    background: linear-gradient(90deg, #ddd 8%, #000000 25%, #ddd 50%);
    height: 14px;
    margin: 4px;
    animation: backgroundPulse forwards 7s linear infinite;
}
@keyframes backgroundPulse {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100em 0;
    }
}

div.carousel>.cards-container>.cards-scroll .card>.img {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #ddd;
    background-size: cover;
}
div.carousel>.cards-container>.cards-scroll .card>.img.placeholder {

    background: linear-gradient(90deg, #ddd 8%, #eee 25%, #ddd 50%);
    animation: backgroundPulse forwards 7s linear infinite;
}

div.carousel>.cards-container>.cards-scroll .card>.caption {
    padding: 14px;
    color: #000000;
    font-size: 12px;
    text-transform: capitalize;
}
div.carousel>.cards-container>.cards-scroll .card>.caption {

    padding: 10px;
    color: #000000;
    font-size: 16px;
    text-transform: capitalize;
}
div.carousel>.cards-container>.cards-scroll .card>.caption>.placeholder {

    display: inline-block;
    background-color: #ddd;
    background: linear-gradient(90deg, #ddd 8%, #eee 25%, #ddd 50%);
    height: 14px;
    margin: 4px;
    animation: backgroundPulse forwards 7s linear infinite;
}
@keyframes backgroundPulse {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100em 0;
    }
}


.section-cp {
    padding-left: 0 10px;
}
.titlePr {
    width: 20 em;
    font-size: 14px;
    align-items: start;
    text-align: left;
    margin-top:5px;
    overflow: auto;
    max-width: 10ch;
    min-width: 50ch;
}

.rating {
    --dir: right;
    --fill: gold;
    --fillbg: rgba(100, 100, 100, 0.15);
    --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 1.5rem;
    --symbol: var(--star);
    --value: 1;
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
}
[dir="rtl"] .rating {
    --dir: left;
}
.rating::-moz-range-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-webkit-slider-runnable-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
    -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-moz-range-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
}
.rating::-webkit-slider-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
    -webkit-appearance: none;
}
.rating, .rating-label {
    display: inline-block;
    font-family: ui-sans-serif, system-ui, sans-serif;
}
.rating-label {
    margin-block-end: 0rem;
}

.rating--nojs::-moz-range-track {
    background: var(--fillbg);
}
.rating--nojs::-moz-range-progress {
    background: var(--fill);
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--star);
}
.rating--nojs::-webkit-slider-runnable-track {
    background: var(--fillbg);
}
.rating--nojs::-webkit-slider-thumb {
    background-color: var(--fill);
    box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
    opacity: 1;
    width: 1px;
}
[dir="rtl"] .rating--nojs::-webkit-slider-thumb {
    box-shadow: var(--w) 0 0 var(--w) var(--fill);
}


.add-button {
    width: 100%;
    height: 40px;
    justify-content: space-around;
    margin-top: 0px;
    align-items: left;
    background:#fbc740;
    font-weight: bold;
    color: #010101;
    font-size: 14px;
}

.add-button:hover {
    cursor: pointer;
}


@media screen and (max-width:769px){
    #carousel {
        margin: 0;
    }
}