* {
    margin: auto;
}

.section-m1 {
    padding: 0 300px;
}

section iframe{
    width: 100%;
    height: 500px;
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Jost', sans-serif;
}

.imageEmpty{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p {
    color: #a6a6a6;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Jost', sans-serif;
}

a {
    color: #66d2d6;
    font-family: 'DM Sans', sans-serif;
}

.startShopping{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}


h2 {
    color: black;
    text-align: left;
    padding-top: 20px;
    font-family: 'Jost', sans-serif;
}

header {
    width: 100%;
    height: 150px;
}

footer {
    width: 100%;
    height: 430px;
    padding: 0px;
    box-shadow: 10px 10px 0px 10px #fbc740;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#cart-nav-item {
    display: none;
}


@media (max-width: 768px) {
    .cartEmpty{
        padding: 40px 100px;
    }
    .imageEmpty {
        width: 100%;
        margin-right: 0px;
    }

    .startShopping{
       width: 100%;
       margin-right: 0px;
    }
}