* {
    margin: 0;
    border: 0;
}

main {
    margin-top: 50px;
}

h1 {
    font-size: 1.3cm;
    margin-inline-start: 150px;
    color: black;
    text-align: left;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}

h2 {
    color: black;
    margin-inline-start: 150px;
    margin-block-start: 1cm;
    font-family: 'Jost', sans-serif;
}

.quantity, .mont{
    font-weight: normal;
    font-family: 'Jost', sans-serif;
}

.product, .container{
    display: grid;
    width:100%;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
    margin-top: 9px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.Total{
    margin-block-start: 40px;
    margin-block-end: 40px;
    font-family: 'Jost', sans-serif;
}

.init {
    margin-inline-start: 80px;
    margin-block-start: 5px;
    color: gray;
    font-weight: bold;
}

.cart{
    resize: both;
}

.product img {
    height:200px;
    width: 200px;
	margin-inline-start: -10px;
	margin-block-start: 2px;
}

.product h1 {
	color: black;
	font-size: 30px;
	margin-block-start: -200px;
	font-weight: bold;
    font-family: 'Jost', sans-serif;
}

.title{
    	margin-inline-start: 70px;
}

.checked {
  color: orange;
  float:left;
}

.star{
    color: gray;
    float:left;
}

.stars{
    margin-inline-start: 220px;
    margin-block-start: -159px;
}

.price {
   margin-inline-start: -2px;
   margin-block-start: 90px;
   font-size: 25px;
   font-family: 'DM Sans', sans-serif;
}

.qt, .qt-plus, .qt-minus {
   margin-block-start: -1.2cm;
   float: left;
   user-select: none;
}

.qt {
	font-size: 19px;
	line-height: 43px;
	width: 48px;
	text-align: center;
	border-bottom: 2px solid gray;
	border-top: 2px solid gray;
}

.qt-plus, .qt-minus {
	background: #bd97cb;
	font-size: 30px;
	color: white;
	font-weight: 300;
	height: 10%;
	padding: 0px 15px;
}

.qt-plus:hover, .qt-minus:hover {
    background: #D8C2E0;
	cursor: pointer;
}

.qt-plus {
	line-height: 43px;
	border-top-right-radius: 500px;
	border-bottom-right-radius: 500px;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
}

.qt-minus {
	line-height: 43px;
	border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    margin-inline-start: 110px;
}

.deleteItem button{
    border: none;
    border-radius: 50%;
    color: white;
    background-color: #e56997;
    padding: 10px;
    font-size: 23px;
    border-radius: 50%;
    cursor: pointer;
}
.imageEmpty{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deleteItem{
    margin-inline-start: 530px;
    margin-block-start: -55px;
}



.titleS{
    font-size: 0.8cm;
    margin-inline-start: 20px;
    margin-block-end: 15px;
    font-family: 'Jost', sans-serif;
}

.a, .values{
    background-color: #66D2D6;
    color: white;
    padding: 3% 2%;
    margin-left: 20px;
    margin-right: 10px;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
}

.values{
    margin-inline-start: 80px;
    font-weight: normal;
    font-family: 'DM Sans', sans-serif;
}

.total, .order{
    margin-block-start: 10px;
    font-weight: bold;
    background-color: #BD97CB;
    color: white;
    padding: 8% 2%;
    margin-left: 20px;
    margin-right: 10px;
    font-size:0.6cm;
    font-family: 'Jost', sans-serif;
}

.order{
    margin-inline-start: 40px;
    font-weight: normal;
    padding: 3% 1%;
    font-family: 'DM Sans', sans-serif;
}

.co{
    margin-inline-start: 0.6cm;
    margin-block-start: 0.5cm;
    cursor:pointer;
    size: 34cm;
    background-color: #FBC740;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 0.7cm;
    padding:10px 80px;
    border-radius: 50px;

}

.carousel{
    margin-block-start: 5cm;
    margin-block-end: 5cm;
}

.summary{
    margin-block-start: 1cm;
    margin-inline-end: 7cm;
}

.stars span {
    height: 50px;
}

#cart-nav-item {
    display: none;
}

.stock{
    visibility: hidden;
    display: none;
    color: transparent;
}

.reviews{
    visibility: hidden;
    display: none;
    color: transparent;
}

@media screen and (max-width: 992px){
    .container {
        flex-direction: column;
        align-items: center;
    }

    .summary {
        margin-block-start: 5cm;
        margin-inline-end: 0cm;
    }

    .total, .a {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .section-m1 {
        padding: 0px 75px;
        margin-bottom: 0;
    }

    .co {
        margin: 0;
    }

    .cart {
        margin-left: 75px;
    }

    .carousel{
        margin-block-start: 0cm;
        margin-block-end: 0cm;
    }
}