* {
    font-family: 'DM Sans', sans-serif;
}

.grid {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 3fr;
    margin-top: 70px;
}


h1 {
    display: flex;
    background-color: black;
    width: 80%;
    height: 140px;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 80px;
    font-family: 'Jost', sans-serif;
    font-size: 55px;
}
h3 {
    font-family: 'Jost', sans-serif;
    display: grid;
}

p{
    width: 80%;
    height: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-top: 30px;
}

footer {
    width: 100%;
    height: 430px;
    padding: 0px;
    box-shadow: 10px 10px 0px 10px #fbc740;
    margin-top: 70px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}


.format input[type=checkbox] {
	display:none; 
}
.format input[type=checkbox] + label {
	cursor: pointer;
}
.format label {
	font-size: 0.5em;
	color: rgb(73, 68, 68);
}

.format label:before{
	content: "";
    background: transparent;
	border: 4px solid #787673;
	text-shadow: 4px -2px 3px gray;
	border-radius: 10px;
	display: inline-block;
	height: 30px;
	text-align: center;
	vertical-align:middle;
	width: 30px;
}
input[type=checkbox]:checked + label:before {
	content: '✓';
	font-size: 20px;
    text-align: center;
	color: #fcfcfc;
    background-color: #010101;
	font-family: "Times New Roman";
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%/1, max(230px, 100%/4)), 1fr));
    gap: 100px 5%;
}

.card {
    align-items: start;
    display: grid;
}
.image {
    height: 200px;
   	width: 200px;
   	padding: 3px;
   	border: #d4d3d3;
   	align-items: left;
}
.image img{
	height: 200px;
	width: 210px;
	object-fit: cover;
	 align-items: start;

}
.title {
    font-size: 20px;
    align-items: start;
    text-align: left;
    margin-top:10px;
}

.ProductPrice {
    text-align: left;
    align-items: left;
    font-size: 20px;
    margin-top:10px;
}

.add-button {
    width: 100%;
   	height: 50px;
   	justify-content: space-around;
   	margin-top: 10px;
   	align-items: left;
    background:#fbc740;
    font-weight: bold;
    color: #010101;
    font-size: 14px;
}

.add-button:hover {
    cursor: pointer;
}

.rating {
    --dir: right;
    --fill: gold;
    --fillbg: rgba(100, 100, 100, 0.15);
    --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 1.5rem;
    --symbol: var(--star);
    --value: 1;
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
}
[dir="rtl"] .rating {
    --dir: left;
}
.rating::-moz-range-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-webkit-slider-runnable-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
    -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-moz-range-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
}
.rating::-webkit-slider-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
    -webkit-appearance: none;
}
.rating, .rating-label {
    display: block;
    font-family: ui-sans-serif, system-ui, sans-serif;
}
.rating-label {
    margin-block-end: 1rem;
}

/* NO JS */
.rating--nojs::-moz-range-track {
    background: var(--fillbg);
}
.rating--nojs::-moz-range-progress {
    background: var(--fill);
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--star);
}
.rating--nojs::-webkit-slider-runnable-track {
    background: var(--fillbg);
}
.rating--nojs::-webkit-slider-thumb {
    background-color: var(--fill);
    box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
    opacity: 1;
    width: 1px;
}
[dir="rtl"] .rating--nojs::-webkit-slider-thumb {
    box-shadow: var(--w) 0 0 var(--w) var(--fill);
}

.format {
    min-width: 200px;
}

.format label span {
    font-size: 18px;
}

@media screen and (max-width:769px){
    .format {
        min-width: 175px;
    }

    .format label span {
        font-size: 15px;
    }
}
