* {
    margin: auto;
}

footer {
    display: flex;
    flex-direction: column;
    height: 350px;
}

.container {
    width: 100%;
    height: 50px;
    max-height: 50px;
    position: relative;
    padding-top: 100px;
}

.container > .crop {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 20px;
    min-width: 100%;
}

.networks-container {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    z-index: 10;
}

.row-div {
    width: 100%;
    display: flex;
    padding: 0px;
}


h4 {
    font-size: 50px;
}

h5 {
    font-size: 35px;

}

h4, h5 {
    margin-bottom: 10px;
}

span {
    font-size: 30px;
}

.bubble-logo {
    width: 200px;
}

#instagram {
    color: white;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%); 
    border:none;
    transform: scale(1.6);
    margin: 8px;
    padding: 1px;
}

#twitter {
    color: #1DA1F2
}

#whatsapp {
    color:#25d366; 
}

a i {
    transform: scale(2);
    margin: 10px;
}

label {
    margin-right: 20px;
    font-size: 25px;
}

.contacts-container {
    margin-left: 5%;
}

.contacts-div {
    width: 100%;
    display: flex;
}

footer {
    background-color: #fff;
}

@media screen and (max-width: 769px) {
    .contacts-div {
        flex-direction: column;
    }

    label {
        width: 300px;
        margin: 2px; 
    }
}
