nav * {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

nav {
    display: flex;
    background-color: #fbc740;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}

nav .icon {
    height: 125px;
    color: #fff;
    display: flex;
}

.logo img {
    height: 100%;
}

nav ol {
    display: flex;
    list-style: none;
    margin: auto 0;
}

nav ol li {
    margin: 0 2px;
}

nav ol li a {
    color: #fff; 
    font: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 0 10px;
    display: flex;
}

nav .search-box {
    display: flex;
    margin: auto 10px auto;
    height: 35px;
    list-style: 35px;
}

nav .search-box input {
    border: none; 
    outline:  none;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;   
}

nav .search-box span {
    color: #fbc740; 
    font-size: 20px;
    background-color: #fff;
    height: 100;
    padding: 8px; 
    position: relative;
    cursor: pointer;
    z-index: 1;
}

nav .search-box span:hover::after {
    width: 100%;
}

nav .bar {
    position: relative;
    margin: auto;
    display: none;
}

nav a img{
    height: 50px;
    padding: 10px 20px 5px 20px;
    display: flex;
    z-index: -1;
}

nav .bar span {
    position: absolute; 
    color: #fff; 
    font-size: 35px;
}

.shop-div {
    display: flex;
    align-items: center;
}

nav ol li a:hover {
    background-color: #fbc740;
    color: #fff;
}

nav span:hover {
    background-color: #FAB80E;
    color: #fff;
    cursor: pointer;
}

.shop-img{
    padding: 0;
    height: 75px;
    margin: 10px;
}

.shop-img:hover{
    background-color: #FAB80E;
    color: #fff;
    cursor: pointer;
}

.shop-span {
    display: none;
}

.disabled {
    pointer-events: none;
}

@media (max-width:1200px) and (min-width:769px) {
    nav .search-box input {
        width: 100%;   
    }
}

@media screen and (max-width: 768px) {
    nav {
        display: flex;
        align-items: center;
    }

    nav .search-box input {
        width: 90%;   
    }

    nav ol {
        display: flex;
        flex-direction: column;
    }

    nav a span img {
        display: none;
    }

    nav a span {
        margin: 10px 15px 0px 15px; 
        padding: 5px;
    }

    nav a:hover {
        background-color: #fbc740;
        color: #fff;
    }

    nav a {
        padding: 0;
        margin: 0;
        border: 0;
    }

    .icon img {
        height: 130px;
    }

    .shop-span {
        display: block;
    }

    .search-box {
        display: inline;
    }
    
}