* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    padding: 0;
}


.section-m1 {
    padding: 50px 100px 0;
}

header {
    width: 100%;
    height: 100%;
    height: 150px;
    
}

section iframe{
    width: 100%;
    height: 500px;
}

.carousel-inner > div{
    width: 100%;
    height: 100%;
    height: 480px;
}

footer {
    width: 100%;
    height: 430px;
    padding: 0px;
    box-shadow: 10px 10px 0px 10px #fbc740;
    display:block
}


.grid-container {
    align-items: start;
    display: grid;
    grid-gap: 12px;
    gap: 5%;
    grid-template-columns: repeat(4, max(20%, 160px));
    justify-content: center;
    background-color: #ffffff;
    padding: 50px 100px 50px;
}
  
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 1px 0;
    font-size: 25px;
}

p {
    color: #050505;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Jost', sans-serif;
    text-decoration:none;
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 45px;
}

h2 {
    color: black;
    text-align: left;
    padding-top: 50px;
    font-family: 'Jost', sans-serif;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
  
.section-card {
    border: #fbc740 5px inset;
    cursor: pointer;
    transition: 0.4s;
    border-style: solid;
}
  
.section-card:hover {
    transform: scale(0.97, 0.97);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.20), 
      -5px -5px 30px 15px rgba(0,0,0,0);
}

.auxShadow > .section-card {
    padding: 10px, 10px;
    border: none;
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.15), -5px -5px 30px 15px rgba(0,0,0,0);
    cursor: pointer;
    transition: 0.4s;
}
  
.carousel-img-div {
    width: 100%;
    margin: 0;
    max-width: 100%;
}

div #cards {
    margin: 0 17%;
    margin-bottom: 20px;

}

#introduction-banner {
    align-content: center;
    padding-top: 30px;
    width: 70%;
}

.section-card p{
    text-align: center;
}

@media screen and (max-width:769px){
    div #cards {
        margin: 0 10px;
        margin-bottom: 20px;
    }

    .grid-container {
    grid-template-columns: repeat(2, max(20%, 200px));
    }
}
