.section-p1 {
    padding: 50px 240px;
}

.section-m1 {
    padding: 0 200px;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    text-align: center;
}

section iframe{
    width: 100%;
    height: 500px;
}
#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image{
    width: 50%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 80px;
}

#prodetails .single-pro-details h1 {
    font-size: 40px;
    font-family: 'Jost', sans-serif;
    padding: 20px 0 0 0;
    text-align: left;
}

#prodetails .single-pro-details h2 {
    font-size: 25px;
    font-family: 'Jost', sans-serif;
    padding: 0 0 5px 0;
}

#prodetails .single-pro-details h3 {
    font-size: 25px;
    font-family: 'Jost', sans-serif;
    padding: 20px 0 5px 0;
}

#prodetails .single-pro-details h4 {
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
    padding: 5px 0 0 0;
    color: #65cf13;
}

#prodetails .single-pro-details span {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    text-align: justify;
    display: block
}

#prodetails input[type=number]::-webkit-inner-spin-button,
#prodetails input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#prodetails .single-pro-details input {
    width: 40px;
    height: 35px;
    text-align: center;
    font-size: 15px;
    border-color: #afb1b2;
    border-width: 1px;
    padding: 0 5px 1px 5px;
    appearance: textfield;
}

#prodetails .quant-details {
    display: flex;
    margin: 20px 0 20px 0;
}

#prodetails .quant-details a {
    margin: 10px 0 0 13px;
    font-family: 'DM Sans', sans-serif;
}

#decrease-quantity {
    background: #e6e5e4;
    color: black;
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px 0 0 5px;
    width: 70px;
    height: 35px;
    border-width: 1px;
    border-color: #afb1b2;
}

#decrease-quantity:hover {
    background: #c8c7c7;
}

#decrease-quantity:disabled {
    background: #efefef;
    color: rgb(171, 171, 171);
}

#increase-quantity {
    background: #e6e5e4;
    color: black;
    font-family: 'DM Sans', sans-serif;
    border-radius: 0 5px 5px 0;
    width: 70px;
    height: 35px;
    border-width: 1px;
    border-color: #afb1b2;
}

#increase-quantity:hover {
    background: #c8c7c7;
}

#increase-quantity:disabled {
    background: #efefef;
    color: rgb(171, 171, 171);
}

#prodetails .shop-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 270px;
}

#prodetails .normal {
    background: #fbc740;
    color: black;
    width: 270px;
    height: 50px;
    margin-bottom: 5px;
    border-width: 0;
    border-radius: 5px;
}

#prodetails .normal:hover {
    background: #dfb039;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#recommended-section h1 {
    font-size: 40px;
    font-family: 'Jost', sans-serif;
    padding: 20px 0 0 0;
}

.rating-bar {
    display: flex;
}

.rating-bar a {
    margin: 2px 0 0 20px;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    color: #4e7dba;
}

#prodetails .rating-segment img{
    width: 20px;
}

#MainImg {
    max-height: 500px;
    max-width: 500px;
}

@media (max-width: 1248px) {
    #prodetails .single-pro-image{
        width: 60%;
        margin-right: 50px;
    }

    #prodetails .single-pro-details {
        width: 40%;
        padding-top: 30px;
    }

    .section-p1 {
        padding: 50px 100px;
    }
}

@media (max-width: 769px) {
    .section-p1 {
        padding: 40px 140px;
    }
    
    .section-m1 {
        padding: 0 50px;
    }

    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details {
        width: 100%;
        margin-right: 0px;
    }
}