*{
	font-family: 'DM Sans', sans-serif;
}

body{
	display:flex;
	align-items: center;
	min-height: 100vh;
}

.card {
	position: relative;

}
.card .card .container{
	position: relative;

}

section .card .image {
	height: 140px;
	width: 200px;
	padding: 3px;
	border: #d4d3d3;
}
section .card .image img{
	height: 150px;
	width: 210px;
	object-fit: cover;

}
.card .card-content {
    display: flex;
    flex-direction:column;
	text-align: center;
	align-items:left;
	position:relative;
	padding:10px;

}
.card .title-name .title {
	text-align: left;
	font-size: 20px;
	display: flex;
	flex-direction:column;
	margin-top:10px;


}
.card .card-price .price {
	text-align: start;
	display: flex;
	font-weight: bold;
	flex-direction:column;
	margin-top:10px;
	font-size: 15px;

}
.card .rating {
	text-align: left;
	display: flex;
	margin-top:18px;

}
.card .rating i{
	align-items: center;
	font-size: 10px;
	margin: 0 2px;
	color: #f9f115;

}
.card .button  {
	width: 96%;
	height: 40px;
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}
.card .button button {
    align-items: center;
	background:#fbc740;
	outline: none;
	border: none;
	font-weight: bold;
	color: #010101;
	font-size: 14px;
}

