* {
    font-family: 'DM Sans', sans-serif;
    margin: 0; 
    padding: 0;
}

h1 {
    display: flex;
    background-color: #3a7bc7;
    width: 80%;
    height: 140px;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 120px;
    font-family: 'Jost', sans-serif;
    font-size: 55px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    font-weight: 700;
}

header {
    width: 100%;
    height: 140px;
    margin-bottom: 70px;
}

footer {
    width: 100%;
    height: 430px;
    padding: 0px;
    box-shadow: 10px 10px 0px 10px #fbc740;
    margin-top: 70px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.grid {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 100px;
    margin-top: 100px;
}

.category {
    width: 100%;
    text-align: justify;
}

.category a img {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .grid {
        margin-top: 50px;
        grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    }
    
}