* {
    margin: 0;
    padding: 0px;
}

header {
    width: 100%;
    height: 140px;
    top: 0;
    position: sticky;
    z-index: 10;
}

header div {
    top: 0;
    width: 100%; 
    height: 140px;
}

footer {
    width: 100%;
    height: 430px;
    padding: 0px;
    box-shadow: 10px 10px 0px 10px #fbc740;
}

.modal-contenedor{
    display:flex;
    align-items: center;
    gap:2rem;
}

.img-carrito {
    width: 100px;
}

.cart-data {
    width: 250px;
}

footer iframe {
    width: 100%;
    height: 430px;
}

@media screen and (max-width: 800px) {
    header div {
        height: 160px;
    }
}